html {
    display: block;
    color: -internal-root-color;
}


body, html {
    font-size: small;
}

body {
    display: block;
    margin: 8px;
    background: #fff;
    color: #222;
}

body, td, a, p, .h {
    font-family: arial,sans-serif;
}

#body, #footer {
    display: block;
}

center {
    text-align: -webkit-center;
}

img[Style] {
    height: 92px;
    width: 272px;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:visited {
    color: #609;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.content {
    padding-bottom: 35px;
}

.ctr-p {
    margin: 0 auto;
    min-width: 980px;
}

div {
    display: block;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input[type="submit" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.jhp input[type="submit"], .sbdd_a input, .gbqfba {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.jhp input[type="submit"], .gbqfba {
    height: 36px;
    line-height: 27px;
}

#searchform {
    width: 100%;
}

form {
    display: block;
    margin-top: 0em;
}

div#searchform {
    min-width: 980px;
    z-index: 103;
}

.hp #searchform {
    position: absolute;
    top: 311px;
}

div#searchform.jhp {
    margin-top: 0;
}

#gb {
    font-size: 13px;
    position: relative;
    top: 8px;
}

.jhp>#gb {
    position: fixed;
    top: 16px;
    width: 100%;
    min-width: 980px;
    z-index: 103;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:visited {
    color: #609;
}

#hptl {
    position: absolute;
    margin: 7px 0 0 10px;
}

#hptl a {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}

.sfbg {
    height: 69px;
    left: 0;
    position: absolute;
    width: 100%;
}

.tsf {
    background: none;
}

#tsf {
    width: 833px;
}

.big form#tsf, form#tsf {
    width: auto;
    max-width: 784px;
    overflow: hidden;
}

.hp #tsf {
    margin: 0 auto;
    width: 833px;
}

.jhp>#tsf {
    max-width: none;
}

.A8SBwf {
    position: relative;
    margin: 0 auto;
    padding-left: 12px;
    padding-top: 6px;
    width: 484px;
}

.RNNXgb {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}

.SDkEP {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 20px;
}

.a4bIc {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.gsfi, .lst {
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}

.gLFyf {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
}

.gb_Oa {
    min-width: 165px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    z-index: 986;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-user-select: none;
}

.gb_1, .gb_2, .gb_4, .gb_5 {

    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}

#gb#gb a.gb_z {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.gb_Ag {
    white-space: nowrap;
}

.gb_Ag, .gb_g {
    margin-left: 0!important;
    margin-right: 0!important;
}

.gb_be {
    line-height: normal;
    padding-right: 15px;
}

.gb_Dg.gb_Dg .gb_f {
    display: inline-block;
}

.gb_f .gb_e {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
}

.gb_f.gb_g {
    display: none;
    padding-left: 15px;
    vertical-align: middle;
}

.gb_g {
    display: inline-block;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex: 0 0 main-size;
    flex: 0 0 main-size;
}

#gb#gb a.gb_d, #gb#gb a.gb_e, #gb#gb span.gb_e {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.gb_gd {
    display: inline-block;
    padding: 0 0 0 15px;
    vertical-align: middle;
}

.gb_gd:first-child, #gbsfw:first-child+.gb_gd {
    padding-left: 0;
}

.gb_Jf {
    position: relative;
}

.gb_rc {
    background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    -webkit-background-size: 528px 68px;
    background-size: 528px 68px;
}

.gb_Rf .gb_Ag {
    display: -webkit-flex;
    display: flex;
}

.gb_Xc {
    line-height: normal;
    position: relative;
    text-align: left;
}

.gb_Xc.gb_g, .gb_be.gb_g, .gb_Fa.gb_g {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size;
}

.gb_y .gb_z {
    background-position: -132px -38px;
    opacity: .55;
}

.gb_z {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.vdLsw {
    color: transparent;
    flex: 100%;
    white-space: pre;
}

.dRYYxd {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.JC0tCe {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.hb2Smf {
    background: url(//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: middle;
}

.FPdoLc {
    padding-top: 18px;
    position: absolute;
    top: 53px;
    width: 487px;
    z-index: 0;
}

.VlcLAe {
    height: 70px;
}

.nojsv {
    visibility: hidden;
}

div.sfbg, div.sfbgg {
    min-width: 980px;
    height: 64px;
}

.fbar {
    font-size: small;
}

.fbar {
    margin-left: -27px;
}

#fbar {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
}

Style Attribute {
    height: auto;
    visibility: visible;
}

#footer {
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    width: 100%;
}